<h1>Contact Us</h1>

<div class="row">
  <div class="col-xs-3">
    <h3>Address</h3>
       <address>Level 2, 7 Kelly Street<br/>
                Ultimo, NSW 2007<br/>
        </address>
  </div>
  <div class="col-xs-9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.298419306519!2d151.19308081521052!3d-33.881967480652655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae292217df93%3A0x7f041156594ef4ef!2sAIT+-+Academy+of+Information+Technology!5e0!3m2!1sen!2sau!4v1477226766728" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>
